<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
<nav class="navbar navbar-fixed-top navbar-inverse"></nav>

<br/><br/><br/><br/>

<div class="container">
  <p class="pull-right visible-xs">
    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
  </p>

  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
      <div class="jumbotron">
        <p><center><img src="images/agenda_dev.png" width="200" height="120"></center></p>
      </div>

      <div class="row">
        <br/>
       
      </div>
    </div>

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas text-center" id="sidebar">
      <strong class="btn btn-lg btn-success" role="button"><a href="#">Novo Evento</a></strong>
      <br>

      <div class="list-group">
        <a href="#" class="list-group-item active">Link</a>

        <p>
          <a href="https://goo.gl/wLRtJZ" class="list-group-item" target="_blank"><img src="images/play_store.png"/></a>
        </p>

        <p>
          <a href="https://goo.gl/FzEDyH" class="list-group-item" targert="_blank" ><img src="images/app_store.png"></a>
        </p>

        <p>
          <a href="https://goo.gl/pOklvd" class="list-group-item" target="_blank"><img src="images/twitter.png" width="80" heigth="80"></a>
        </P>
      </div>
    </div>
  </div>

  <hr>
  
  <footer>
    <p><center><strong>Feito por Rodrigo Amora</strong> - <a href="http://goo.gl/smJjj" target="_blank">www.rodrigoamora.com.br</a></center></p>
  </footer>
</div>
</body>    
</html>
